Part_I_Fundamental_Algorithms/6_Vector_Semantics_and_Embeddings/glove/glove.6B.50d.txt
Part_I_Fundamental_Algorithms/6_Vector_Semantics_and_Embeddings/glove/glove.6B.100d.txt
Part_I_Fundamental_Algorithms/6_Vector_Semantics_and_Embeddings/glove/glove.6B.200d.txt
Part_I_Fundamental_Algorithms/6_Vector_Semantics_and_Embeddings/glove/glove.6B.300d.txt
# FastText dosyalarını hariç tut
Part_I_Fundamental_Algorithms/6_Vector_Semantics_and_Embeddings/fasttext/cc.en.300.bin
Part_I_Fundamental_Algorithms/6_Vector_Semantics_and_Embeddings/fasttext/cc.en.300.bin.gz
.env